{% extends 'base.html.twig' %}

{% set pageLayout = 'no-hero subcategory-page' %}

{% block title %}
    Hello CategoryController! Now with SUB Categories!
{% endblock %}

{% block hero %}

{% endblock %}

{% block content %}
    <div class="content">
        <div class="sub-cat">
            {% for sb in category.getSubcategories %}
                <span class="sb-item">
                    <a href={{ path('subcategory', {'slug': category.getSlug, 'sub':sb.getSlug}) }}>
                        {{ sb.getName }}
                    </a>
                </span>
            {% endfor %}
        </div>
        <div class="products">This will be the list of products in {{ subcat.getName }}</div>
    </div>
{% endblock %}
