<!-- start: blog section -->
<section class="blog-section">

    <header class="row section-header max-inner">
        <div class="columns-12 col-centered">
            <h2>Blog news</h2><hr />
        </div>
    </header>

    <div class="row max-inner">

        <!-- start: blog item -->
        <div class="columns col-3 grid-item">
            <div class="grid-item-media"><a href="#"><img src="images/blog-item-image-1.jpg" /></a></div>
            <div class="grid-item-desc">
                <h2>
                    <a href="product.html">
                        <span class="grid-item-meta">30 May 2014</span>
                        <span class="grid-item-title">Dolor in reprehenderit</span>
                    </a>
                </h2>
                <p>Natus error sit voluptatem accusantium doloremque laudantium totam rem...</p>
            </div>
        </div>
        <!-- end: blog item -->

        <!-- start: blog item -->
        <div class="columns col-3 grid-item">
            <div class="grid-item-media"><a href="#"><img src="images/blog-item-image-2.jpg" /></a></div>
            <div class="grid-item-desc">
                <h2>
                    <a href="product.html">
                        <span class="grid-item-meta">27 May 2014</span>
                        <span class="grid-item-title">Accusantium doloremque</span>
                    </a>
                </h2>
                <p>Natus error sit voluptatem accusantium doloremque laudantium totam rem...</p>
            </div>
        </div>
        <!-- end: blog item -->

        <!-- start: blog item -->
        <div class="columns col-3 grid-item">
            <div class="grid-item-media"><a href="#"><img src="images/blog-item-image-3.jpg" /></a></div>
            <div class="grid-item-desc">
                <h2>
                    <a href="product.html">
                        <span class="grid-item-meta">24 May 2014</span>
                        <span class="grid-item-title">Totam rem aperiam</span>
                    </a>
                </h2>
                <p>Natus error sit voluptatem accusantium doloremque laudantium totam rem...</p>
            </div>
        </div>
        <!-- end: blog item -->

        <!-- start: blog item -->
        <div class="columns col-3 grid-item">
            <div class="grid-item-media"><a href="#"><img src="images/blog-item-image-4.jpg" /></a></div>
            <div class="grid-item-desc">
                <h2>
                    <a href="product.html">
                        <span class="grid-item-meta">21 May 2014</span>
                        <span class="grid-item-title">Nemo enim ipsam voluptatem</span>
                    </a>
                </h2>
                <p>Natus error sit voluptatem accusantium doloremque laudantium totam rem...</p>
            </div>
        </div>
        <!-- end: blog item -->

    </div>

</section>
<!-- end: blog section -->
