<!-- start: content slider-->
<section class="content-slider">

    <div class="flexslider">
        <ul class="slides">
            <!-- start: slide -->
            <li>
                <div class="row max-inner">
                    <div class="columns col-12 slide-image">
                        <img src="{{ asset('build/images/slide-image-1.jpg') }}" />
                    </div>
                    <div class="columns col-12 col-centered slide-content">
                        <h2>Vogue Style</h2>
                        <h3>For modern women</h3>
                        <a href="#" class="btn cta">See the collection</a>
                    </div>
                </div>
            </li>
            <!-- end: slide -->
            <!-- start: slide -->
            <li>
                <div class="row max-inner">
                    <div class="columns col-12 slide-image">
                        <img src="{{ asset('build/images/slide-image-2.jpg') }}" />
                    </div>
                    <div class="columns col-12 col-centered slide-content">
                        <h2>New Collection</h2>
                        <h3>For your beauty and fashion</h3>
                        <a href="#" class="btn cta">See the collection</a>
                    </div>
                </div>
            </li>
            <!-- end: slide -->
            <!-- start: slide -->
            <li>
                <div class="row max-inner">
                    <div class="columns col-12 slide-image">
                        <img src="{{ asset('build/images/slide-image-3.jpg') }}" />
                    </div>
                    <div class="columns col-12 col-centered slide-content">
                        <h2>Feel the luxury</h2>
                        <h3>special collection</h3>
                        <a href="#" class="btn cta">See the collection</a>
                    </div>
                </div>
            </li>
            <!-- end: slide -->
        </ul>
    </div>
</section>
<!-- end: content slider-->

