/* @import must be at top of file, otherwise CSS will not work */
/*@import url("//hello.myfonts.net/count/2acdad");
*/
/*.paging-list {
  display: table;
  @include clean-list;
  li {
    @include clean-list;
    margin-left: -1px;
    float: left;
    a {
      color: $primary-color;
      display: block;
      float: left;
      min-width: 40px;
      padding: 12px 13px;
      text-align: center;
      line-height: 100%;
      border: 1px solid #cdcdcd;
      &.current-prod-page {
        background: $secondary-color;
        color: #fff;
        border-color: $secondary-color;
      }
    }
  }
}*/
/*
------------------------------------------
Site-wide media queries
------------------------------------------
*/
@media screen and (max-width: 1170px) {
  .max-inner {
    max-width: 960px; }

  .header > .row > .columns {
    display: table;
    float: none;
    margin: auto;
    padding: 0 0 15px 0;
    width: auto; }
    .header > .row > .columns:nth-child(2) {
      margin-bottom: 20px;
      padding: 0;
      width: 100%;
      border-top: 1px solid #dfdfdf;
      border-bottom: 1px solid #dfdfdf; }
  .header .main-nav {
    padding: 10px 0;
    text-align: center; }
    .header .main-nav ul li {
      float: none;
      display: inline-block; } }
@media screen and (max-width: 960px) {
  .max-inner {
    max-width: 800px; }

  .flex-control-nav.flex-control-paging {
    position: relative;
    bottom: 0;
    padding-top: 20px; }
    .flex-control-nav.flex-control-paging li a {
      border: 3px solid #444; }

  .collections-section .collection-item .collection-desc {
    top: 26%; }

  .product-media {
    width: 30% !important; }

  .product-info {
    width: 70% !important; }

  .filter-sort .products-paging {
    clear: both;
    display: table;
    float: none;
    padding-left: 12px; } }
@media screen and (max-width: 909px) {
  .main-content .max-inner {
    display: block;
    max-width: 800px; }

  .cart-table {
    width: 100%; }
    .cart-table .cart-item .product-thumbnail {
      width: 50px; }
      .cart-table .cart-item .product-thumbnail > a {
        min-width: 30px !important; }
    .cart-table .cart-item .product-description h3 {
      margin: 0 !important; }
    .cart-table .cart-item .product-description p {
      display: none; }

  .cart-details tr.spacer-row td {
    height: 20px;
    padding: 0; }
  .cart-details tr td {
    display: block;
    margin-bottom: -1px;
    padding: 20px;
    width: 100% !important; }
    .cart-details tr td.cart-summary {
      padding-left: 20px; } }
@media screen and (max-width: 800px) {
  .max-inner,
  .main-content .max-inner {
    max-width: 640px; }

  .header .toggle-nav {
    display: block; }
  .header > .row > .columns:nth-child(2) {
    width: 100%; }
    .header > .row > .columns:nth-child(2) .main-nav {
      display: none;
      padding: 0; }
      .header > .row > .columns:nth-child(2) .main-nav ul li {
        display: block;
        padding: 0;
        border-bottom: 1px solid #dfdfdf; }
        .header > .row > .columns:nth-child(2) .main-nav ul li:last-child {
          border-bottom: none; }
  .header > .row > .columns .header-controls {
    display: none; }
    .header > .row > .columns .header-controls li {
      display: block;
      float: none;
      width: 100%;
      padding: 0 0 5px 0; }
      .header > .row > .columns .header-controls li.header-search .search-wrapper {
        right: 0 !important; }

  .content-slider .flexslider li h2 {
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 0; }
  .content-slider .flexslider li h3 {
    font-size: 20px; }
  .content-slider .flexslider li .slide-content .btn {
    margin: 20px auto;
    padding: 15px; }
  .content-slider .flexslider .flex-control-nav.flex-control-paging {
    position: relative;
    bottom: 0;
    padding-top: 20px; }
    .content-slider .flexslider .flex-control-nav.flex-control-paging li a {
      border: 3px solid #444; }

  .product-grid .grid-item,
  .blog-section .grid-item {
    width: 50% !important;
    min-height: 450px; }

  .product-pagination .paging-list {
    display: table;
    float: none;
    margin: auto; }

  .collections-section .collection-item {
    float: none;
    width: 100% !important; }

  .footer > .row {
    padding-top: 0 !important; }
    .footer > .row > .columns {
      float: none;
      margin-bottom: 20px;
      width: 100%; }
      .footer > .row > .columns > h3 {
        padding-top: 40px;
        border-top: 1px solid #dfdfdf; }

  .product-media {
    display: block;
    float: none !important;
    width: 50% !important; }

  .product-info {
    display: block;
    float: none !important;
    padding-top: 30px !important;
    width: 100% !important; }
    .product-info .product-desc {
      margin-top: 10px; } }
@media screen and (max-width: 640px) {
  .header > .max-inner {
    padding: 30px 0 5px; }

  .content-slider .flexslider li .slide-content {
    position: relative;
    padding: 30px 30px 0 30px;
    color: #444; }
    .content-slider .flexslider li .slide-content h2 {
      color: #444;
      font-size: 32px; }
    .content-slider .flexslider li .slide-content .btn {
      background: #444;
      color: #fff;
      margin-bottom: 0; }

  .product-grid .grid-item,
  .blog-section .grid-item {
    width: 100% !important;
    min-height: inherit; }
    .product-grid .grid-item .grid-item-media img,
    .blog-section .grid-item .grid-item-media img {
      width: 100%; }

  .product-media {
    width: 100% !important; }

  .main-content .product-options {
    display: block; }
    .main-content .product-options > .columns {
      display: block;
      float: none;
      padding: 0 0 22px 0 !important;
      width: 100%; }
    .main-content .product-options label.product-quantity {
      display: block;
      float: none; }
      .main-content .product-options label.product-quantity > .label-text {
        display: block;
        text-align: center;
        padding: 0 0 10px 0; }
      .main-content .product-options label.product-quantity > input[type=number],
      .main-content .product-options label.product-quantity input {
        display: block;
        width: 100%; }
    .main-content .product-options .sort-options > .select-label .styled-drop-down .dk_label {
      width: 100% !important; }
    .main-content .product-options .submit,
    .main-content .product-options input[type=submit] {
      width: 100%;
      text-align: center; }

  .cart-table {
    width: 100%; }
    .cart-table th.product-thumbnail,
    .cart-table th.product-price,
    .cart-table th.product-quantity {
      display: none; }
    .cart-table .cart-item .product-thumbnail,
    .cart-table .cart-item .product-price,
    .cart-table .cart-item .product-quantity {
      display: none; }
    .cart-table .cart-item .product-description {
      border-left: 1px solid #dfdfdf !important; } }
