{% extends 'base.html.twig' %}

{% block title %}
    {{ product.getName }}
{% endblock %}

{% block hero %}

{% endblock %}

{% block content %}
    <div class="product-title">
        {{ product.getName }}
    </div>
{% endblock %}
