h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    line-height: 100%;
    margin: 0 0 0.2em 0;
    padding: 0;
    text-transform: uppercase;

}
h1 {
    font: 30px/24px "novecento_sans_widebook";
    text-transform: uppercase;
    margin: 65px 0 20px;

}
h2 {
    font-size: 30px;

}
